body {

    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

span {
    color: darkturquoise;
}

.z {
    display: flex;
    margin-bottom: 15%;
}

.w {
    width: 50%;
    padding-left: 4%;

}

.w img {
    width: 80%;
}

.t {
    text-decoration: none;
    background-color: darkorange;
    padding: 10px 40px;
    border-radius: 15px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: linear-gradient(salmon, red);
    font-weight: 700;
    color: black;

}

.bi {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}



.f {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.fc {
    display: flex;
    margin-bottom: 15%;
    text-align: justify;
}

.k {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 50px gray;
    padding: 10px;
    border-radius: 10px;

}

.i {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#m {
    border-left: 10px solid blue;

}

#n {
    border-left: 10px solid red;
}

footer p {
    text-align: center;
}